<!DOCTYPE html>
<html lang="ja">
  <head>
    <mata charset="utf-8">
    <title>memo app</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>

  <h1 class="title text-center">Memo<h1>

  <body>
    <div class="text-center w-300">
      <%= yield %>
    </div>
  </body>
  <button class="home"><a href="/">＊ HOME</a></button>
</html>