<ul class="font-normal text-center">
  <% @csv.reverse_each do |data| %>
    <li class="m-0-auto text-left"><a href= "/memos/<%= data["id"] %>"><%= data["title"] %></a></li>
  <% end %>
</ul>
<button class="push add"><a href="/memos/new" class="white">新しいメモを書く</a></button>